<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sparv easter egg</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/sparv.png"/>
  </head>
  <body>
    <div>
        <p>
          <a style="text-decoration: none;" href="https://spraakbanken.gu.se/sparv/#input=plain&lang=sv&language=sv">
            <svg height="20" width="25" style="vertical-align: bottom;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path xmlns="http://www.w3.org/2000/svg" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"/>
            </svg>
            Return to Sparv
          </a>
        </p>
            <img src="https://media.giphy.com/media/lp6kwhyO1prr2/giphy.gif" alt="House Sparrow Bird GIF by Head Like an Orange" style="width: 392.857px; height: 550px; left: 0px; top: 0px; opacity: 1;">
        <p style="font-size: 10pt;">Image retrieved from <a style="text-decoration: none;" href="https://giphy.com/gifs/headlikeanorange-bird-sparrow-house-lp6kwhyO1prr2">GIPHY</a></p>
    </div>
  </body>
</html>
